table {
    border-collapse: collapse;
    margin : 10px;
}
td {
    text-align : center;
    padding : 20px 25px;
}
th {
    padding : 12px 25px;
}
thead {
    background : darkgray;
}
tbody tr:nth-child(even) {
    background : ivory;
}
tbody tr:hover {
    background : aliceblue;
}