<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div>
    <a href="/create">부서 추가</a>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>부서명</th>
            <th>연락처</th>
            <th>수정/삭제</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="department : ${departments}">
            <td th:text="${department.id}" id="id"></td>
            <td th:text="${department.partName}"></td>
            <td th:text="${department.contact}"></td>
            <td>
                <form th:action="@{'/updateForm'}" method="post">
                    <input type="hidden" name="id" th:value="${department.id}" />
                    <button>수정</button>
                </form>

                <form th:action="@{'/delete'}" method="post">
                    <input type="hidden" name="id" th:value="${department.id}" />
                    <button>삭제</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>