<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>employee</title>
    <link href="/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
<button type="button" onclick="location.href='/addEmployee'">직원 추가</button>
<button type="button" onclick="location.href='/list'">부서 목록</button>
<table>
    <thead>
    <tr>
        <th>이름</th>
        <th>나이</th>
        <th>경력</th>
        <th>부서</th>
        <th>수정 / 삭제</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.name}"></td>
        <td th:text="${employee.age}"></td>
        <td th:text="${employee.career}"></td>
        <td th:text="${employee.department.partName}"></td>
        <td>

        </td>
    </tr>
    </tbody>
</table>
</body>
</html>