<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div>
    <form action="/update" method="post">
        <input type="hidden" id="id" name="id" th:value="${data.id}" />
        <div class="form-group">
            <label>부서 이름</label>
            <input type="text" id="partName" name="partName" placeholder="부서를 입력하세욧">
        </div>
        <div class="form-group">
            <label>부서 연락처</label>
            <input type="text" id="contact" name="contact" placeholder="번호 좀 주세요ㅎㅎ(찡긋)">
        </div>
        <button type="submit">확인</button>
    </form>
</div>
</html>